.country-info {
	width: 300px;
	height: 98%;
	position: absolute;
	top: 10px;
	left: calc(100vw - 310px);
	background-color: rgba(0, 0, 0, .9);
	box-shadow: -2px -2px 50px 2px rgba(0, 0, 0, 0.2);
	z-index: 15;
	@include flex-nowrap-column-center();
	&__title {
		width: 100%;
		height: 30px;
		text-align: center;
		margin: 30px 0 0 0;
		font-family: $mainFont;
		font-weight: bold;
		font-size: 1.5rem;
		text-transform: uppercase;
		color: $default-color;
		padding-bottom: 3px;
	}
	&__elements-list {
		width: 100%;
		height: auto;
		margin-top: 5px;
		@include flex-nowrap-column-center();
	}
	&__del-button {
		width: 50px;
		height: 30px;
		color: $default-color;
		position: absolute;
		top: 0;
		left: calc(100% - 55px);
		border: none;
		background-color: inherit;
		cursor: pointer;
	}
	&__graph{
		width: 100%;
		max-width: 340px;
		height: 40%;
		max-height: 180px;
		margin: 0;
	}
	&__forecast-conteiner{
		width: 340px;
		min-height: 100%;
		padding: 0;
		overflow-y: scroll;
		overflow-x: hidden;
		position: absolute;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
		top: 0;
		left: -100%;
		background-color: rgba(0, 0, 0, .9);	
	}
	&__forecast-canvas{
		height: 150px;
		margin: 10px 0;
		padding: 0;
		border: 1px solid white;
	}

}

.country-info__title::after {
	content: "";
	display: block;
	width: 50%;
	height: 2px;
	margin: 0 25%;
	background-color: $default-color;
}

.elements-list__element {
	width: 90%;
	height: 40px;
	@include flex-nowrap-row-center();
}

.element {
	width: 50%;
	height: 100%;
	margin: 0;
	font-size: 1.2rem;
	color: $default-color;
	text-transform: uppercase;
}

.element-value {
	padding-right: 10px;
	text-align: right;
}

.element-name {
	padding-left: 10px;
	text-align: left;
}

.current-date__conteiner{
	width: 100%;
	height: auto;
	margin: auto;
	text-align: center;
	font-family: $mainFont;
	font-size: 18px;
	color: $default-color;
}
.country-info__forecast-conteiner{
	margin: 0px 0px 0px -40px;
	height: 507px;
}
.country-info__forecast-conteiner::-webkit-scrollbar {
	width: 8px;   
}

.country-info__forecast-conteiner::-webkit-scrollbar-track {
	background: rgba(0, 0, 0, .9);        /* color of the tracking area */
}

.country-info__forecast-conteiner::-webkit-scrollbar-thumb {
	background-color: $blue-bg-color;  
	border-radius: 5px; 
}     
@media screen and (max-width: 1024px) {
	.country-info {
		height: 550px;
		top: 10px;
	}
}
@media screen and (max-width: 575px) {
	.country-info {
		width: 100vw;
		top: 0;
		left: 0;
		background-image: $bg-gradient;
		z-index: 10;
		height: 520px;
	}
	.country-info__forecast-conteiner {
		margin-left: 0;
		width: 100vw;
		left: 0; 
		top: 105%;
	}
	.country-info__del-button{
		display: none;
	}

	.country-info--full-screen {
		width: 100%;
		left: 0;
	}
	
	.country-info--full-screen .elements-list__element {
		width: 100%;
	}
	
	.country-info--full-screen	.country-info__forecast-conteiner {
		width: 350px;
		height: auto;
		left: 0; 
		top: 100%;
	}

}
