.main-content {
	width: 100%;
	height: calc(100vh - 150px);
	margin: 0;
	padding: 0;
	position: relative;
	display: grid;
	grid-template-areas:
		"header header header"
		"nav article aside";
	grid-template-rows: 5px 1fr;
	grid-template-columns: 320px 1fr 330px;
	grid-gap: 5px;
	grid-column-gap: 2px;
	z-index: 10;
}

.main__header {
	grid-area: header;
	@include flex-nowrap-row-center();
}

.main__navigation {
	display: flex;
	flex-direction: column;
	overflow-y: scroll;
	position: relative;
	width: 320px;
	& .nav__wrapper-input {
		padding: 10px 0px 10px 10px;
		position: sticky;
		top: 0;
		z-index: 3;
		background-color: $default-color;
	}
	& .nav__search-input {
		width: 95%;
		height: 30px;
		margin-left: 0;
		padding-left: 10px;
		border-radius: 10px;
		border: none;
		font-family: $mainFont;
		@include adaptiv-font(23, 18);
		color: $green-bg-color;
		box-shadow: 0 2px 3px #575555 inset;
	}
	& .nav__country-list {
		max-height: calc(100vh - 150px);
		margin: 10px 0px 0px 0px;
		position: relative;
		z-index: 1;
		padding: 0px 0px 0px 20px;
		li {
			display: flex;
			list-style-type: none;
			text-transform: uppercase;
			margin: 0px 0px 10px 0px;
			color: $green-bg-color;
			letter-spacing: 1.2px;
			box-shadow: -10px 5px 2px rgba(0, 0, 0, 0.2);
			transition: 0.5s;
			@include adaptiv-font(23, 18);
			cursor: pointer;
			img {
				display: block;
				width: 30px;
				height: 30px;
				margin: 0px 10px 0px 0px;
			}
			&:hover {
				box-shadow: none;
			}
		}
	}
}
.main___map {
	position: relative;
	height: 100%;
	grid-area: article;
	@include flex-nowrap-row-center();
	background-color: rgba(0, 0, 0, .5);
}

.main__outPut-conteiner{
	width: 330px;
	position: relative;
	max-height: calc(100vh - 150px);
	overflow-y: auto;
	grid-area: aside;
	background-image: $bg-gradient;
}

.map-conteiner{
	max-height: calc(100vh - 150px);
	grid-area: article;
	position: relative;
}

.hide-section {
	visibility: hidden;
}


@media screen and (max-width: 1450px){
	.main-content {
	width: 100%;
	height: calc(100vh - 150px);
	margin: 0;
	padding: 0;
	position: relative;
	display: grid;
	grid-template-areas:
		"header header header"
		"nav article aside";
	grid-template-rows: 2px 1fr;
	grid-template-columns: 320px 1fr 300px;
	grid-gap: 2px;
	grid-column-gap: 2px;
	z-index: 10;
}
}
/* Stack the layout on small devices/viewports. */
@media screen and (max-width: 1024px) {
	.main-content {
		height: auto;
		grid-template-areas:
			"header header"
			"nav aside"
			"article article";
			grid-template-rows: 5px 550px 650px;
			grid-template-columns: 400px 1fr;
			grid-gap:5px;
	}
	.nav__country-list{
		padding: 0 10px 0 20px;

	}
	.main__outPut-conteiner{
		width: 100%;
		height: 100%;
		overflow: auto;
		left: 0;
		
	}
}

@media screen and (max-width: 575px) {
	.main-content {
		height: auto;
		grid-template-areas:
			"header"
			"article"
			"nav"
			"info"
			"forecast"
			"aside";
		grid-template-rows: 5px 200px 500px 500px 500px 600px;
		grid-template-columns: 1fr;
		grid-gap: 10px 0;
	}

	.country-info {
		grid-area: info;
	}
	.country-info__forecast-conteiner{
		grid-area: forecast;
	}

	.nav__country-list{
		padding: 0 10px 0 20px;
	}
	.main__navigation{
		margin: 10px auto;

	}
	.main__outPut-conteiner{
		margin-top: 50px;
	}
}

